<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BiomarktDB"
			 connectionString="Data Source=DESKTOP-S85UG84\SQLEXPRESS;Initial Catalog=Biomarkt_DB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
